@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

.header {
    color: white;
    background-color: rgba($color: black, $alpha: 0.45);
    font-family: sans-serif;
    padding: 2.3rem 3rem;

    display: flex;
    flex-direction: row;

    justify-content: space-between;
    
    .header-title {
        letter-spacing: 12px;
        // font-family: 'Anton', sans-serif;
        font-family: 'Russo One', sans-serif;
        font-size: 1.3rem;
        text-shadow: 0 0 5px black;
    }
}


ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    
    li {
        list-style-type: none;
        cursor: pointer;
    }
}
